.hotel {
    &__inner {
        margin-top: 100px;
        display: flex;
    }

    &__image {
        margin-right: 100px;
    }

    &__text {
        margin-bottom: 20px;
    }

    &__gallery {
        margin-top: 30px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        a {
            margin-top: 50px;
        }
    }
}